.MuiStep-root.Mui-completed + .MuiStep-root.Mui-completed .MuiStepConnector-line {
	background-position: left;
}

.team-mode:nth-child(3) .MuiStepConnector-line {
	background-image: unset;
}

.ship img {
	image-rendering: pixelated;
}
