.PreGame .player {
	width: 90px;
	height: 90px;
	border-radius: 50vh;
	background-color: #fff;
}

.PreGame .player img {
	border-radius: 50%;
}

.PreGame .a {
	position: relative;
}

.PreGame .a + .a::before {
	content: '';
	position: absolute;
	width: calc(calc(750px - 360px) / 4);
	height: 5px;
	left: 0;
	top: 50%;
	background-color: inherit;
	background-color: white;
	transform: translate(-100%, -50%);
}
