.PreGame > h1 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.PreGame .container {
    display: flex;
}

.PreGame .players {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PreGame .player {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.PreGame .player img {
    border-radius: 50%;
}

.PreGame .player + .player {
    margin-left: 30px;
}

.PreGame .player + .player::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    left: 0;
    top: 50%;
    background-color: inherit;
    transform: translate(-100%, -50%);
}
