@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');
.App {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	user-select: none;
	min-height: 100vh;
	transition: all 0.3s ease-in-out;
}

.MuiAppBar-root {
	transition: all 0.3s ease-in-out !important;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.1s ease-in-out !important;
}

a:hover {
	/* darker */
	filter: invert(0.3) brightness(1.1);
}
